@using JehovaJireh.Web.UI.Helpers
@using JehovaJireh.Web.UI.App_GlobalResources
<!DOCTYPE html>
<html lang="@CultureHelper.GetCurrentNeutralCulture()" dir="@(CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - @Resources.ApplicationName</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/common")

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink(@Resources.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
					<li class="menu-item dropdown">
						<a href='@Html.ActionLink("Index", "Donations")' class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">@Resources.Donations<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="menu-item">@Html.ActionLink(Resources.ViewDonations, "Index", "Donations")</li>
							<li class="menu-item">@Html.ActionLink(Resources.RequestList, "RequestList", "Donations")</li>
							<li class="menu-item">@Html.ActionLink(Resources.SchedulerDonation, "SchedulerDonation", "Donations")</li>
						</ul>
					</li>
					<li>@Html.ActionLink(Resources.About, "About", "Home")</li>
					<li>@Html.ActionLink(Resources.Contact, "Contact", "Home")</li>
                    <li>@Html.ActionLink(Resources.Chat, "Chat", "Home")</li>
				</ul>
				@Html.Partial("_LoginPartial")
				@Html.Partial("_CulturePartial")
			</div>
		</div>
	</div>
	<div class="container body-content">
		@Html.Partial("_PleaseWaitPartial")
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - @Resources.ApplicationName</p>
		</footer>
	</div>

	<script type="text/javascript">


		(function ($) {
			$("input[name = 'culture']").click(function () {
				var cookieName = "culture";
				eraseCookie(cookieName);
				createCookie(cookieName, (this).value, 5);
				$(this).parents("#culture-form").submit(); // post form
				$('a[href="/Manage"]')[0].css('float','left');
            });

            //update shopping car
            var cName = "", cValue = "";
            document.cookie.split(/; */).forEach(function (cookieraw) {
                var cookie = cookieraw.split('=');
                if (cookie[0].indexOf("car") > -1)
                    cName = cookie[0];//print it 
            });

            var userName = '@User.Identity.IsAuthenticated' == 'True' ? '@User.Identity.Name' : '';
            var cookieName = "";

            if (userName !== '')
                cookieName = "car_" + userName;
            else
                cookieName = "car_" + cName;
                
            var cookieArray = JSON.parse(readCookie(cookieName));
            if (cookieArray) {
                var msg = "Your shopping car contains " + cookieArray.length + " item" + (cookieArray.length > 1 ? "s" : "");
                $(".gh-cart-c").attr('title', msg);
                $("#gh-cart-n").text(cookieArray.length);
            }

             //var cookie = readCookie(cookieName);
		})(jQuery);

		function getCurrentCulture()
		{
			console.log("@System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant()");
        }
	</script>
	@Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/kendo-css")
    @Scripts.Render("~/bundles/kendo")
    
	@RenderSection("scripts", required: false)
</body>
</html>
