@model IEnumerable<JehovaJireh.Web.UI.Models.DonationViewModels>

@{
    ViewBag.Title = Resources.Resources.Donations;
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<p>
    @Html.ActionLink(Resources.Resources.MakeADonation, "MakeADonation")
</p>
<div id="donationlist">
	<div id="grid"></div>
</div>

@section Scripts{
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/areYouSure")
   @Scripts.Render("~/bundles/knockout")
   @Styles.Render("~/bundles/kendo-css")
   @Scripts.Render("~/bundles/kendo")	

<script type="text/x-kendo-template" id="template">
	<div class="tabstrip">
		<ul>
			<li class="k-state-active">
				@Resources.Resources.DonationDetails
			</li>
			<li>
				@Resources.Resources.ContactInfo
			</li>
		</ul>
		<div>
			<div class="donation-details"></div>
		</div>
		<div>
			<div class='user-info'>
				<ul>
					<li><label>Name:</label>#= FirstName #</li>
					<li><label>Home Phone:</label>#= PhoneNumber #</li>
				</ul>
			</div>
		</div>
	</div>

</script>
<script id="rowTemplate" type="text/x-kendo-tmpl">
	<tr data-uid="#: uid #">
		<td class="photo">
			<img src="../content/web/Employees/#:data.EmployeeID#.jpg" alt="#: data.EmployeeID #" />
		</td>
		<td class="details">
			<span class="name">#: FirstName# #: LastName# </span>
			<span class="title">Title: #: Title #</span>
		</td>
		<td class="country">
			#: Country #
		</td>
		<td class="employeeID">
			#: EmployeeID #
		</td>
	</tr>
</script>
<script id="altRowTemplate" type="text/x-kendo-tmpl">
	<tr class="k-alt" data-uid="#: uid #">
		<td class="photo">
			<img src="../content/web/Employees/#:data.EmployeeID#.jpg" alt="#: data.EmployeeID #" />
		</td>
		<td class="details">
			<span class="name">#: FirstName# #: LastName# </span>
			<span class="title">Title: #: Title #</span>
		</td>
		<td class="country">
			#: Country #
		</td>
		<td class="employeeID">
			#: EmployeeID #
		</td>
	</tr>
</script>

<script>
	$(document).ready(function () {
		var element = $("#grid").kendoGrid({
			dataSource: {
				type: "GET",
				dataType: "json",
				contentType: "application/json",
				transport: {
					read: getBaseUrl() + "Donations"
				},
				pageSize: 20,
				serverPaging: false,
				serverSorting: false
			},
			height: 550,
			sortable: true,
			pageable: false,
			detailTemplate: kendo.template($("#template").html()),
			detailInit: detailInit,
			dataBound: function () {
				this.expandRow(this.tbody.find("tr.k-master-row").first());
			},
			columns: [
				{
					field: "CreatedOn",
					title: @Resources.Resources.CreatedOn,
					width: "100px",
					format: "{0: MM-dd-yyyy}"
				},
				{
					field: "Title",
					title: @Resources.Resources.Title,
					width: "100px"
				},
				{
					field: "Description",
					title: @Resources.Resources.Description,
					width: "150px"
				},
				{
					field: "ExpireOn",
					title: @Resources.Resources.ExpireOn,
					width: "120px"
				},
				{
					field: "DonationStatus",
					title: @Resources.Resources.DonationStatus,
					width: "120px"
				}
			]
		});
	});

	function detailInit(e) {
		var detailRow = e.detailRow;

		detailRow.find(".tabstrip").kendoTabStrip({
			animation: {
				open: { effects: "fadeIn" }
			}
		});

		detailRow.find(".donation-details").kendoGrid({
			dataSource: new kendo.data.DataSource({
				data: e.data.DonationDetails
			}),
			scrollable: false,
			sortable: true,
			pageable: true,
			rowTemplate: kendo.template($("#rowTemplate").html()),
			altRowTemplate: kendo.template($("#altRowTemplate").html()),
			height: 550
		}
</script>
<style>

</style>

}



	@*@if (Model.Count() == 0)
		{
			<p class="text-succes">There is not any donation available.</p>
		}
		else
		{
			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Title)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Amount)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.IsMoney)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ExpireOn)
					</th>
					<th></th>
				</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Title)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Amount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsMoney)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ExpireOn)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Details", "Details", new { id = item.Id }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.Id })
					</td>
				</tr>
			 }
			</table>
		}*@
