@model JehovaJireh.Web.UI.Models.RegisterViewModel
@{
	ViewBag.Title = Resources.Register;
	var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}



<h2>@ViewBag.Title.</h2>
@using(Html.BeginForm("SetCulture", "Account"))
{
<fieldset>
	<legend>@Resources.ChooseYourLanguage</legend>

	<div class="control-group">
		<div class="controls">
			<label for="en-us">
				<input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
			</label>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<label for="es">
				<input name="culture" id="es" value="es" type="radio" @selected("es", culture) /> Español
			</label>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<label for="ar">
				<input name="culture" id="ar" value="ar" type="radio" @selected("ar", culture) /> العربية
			</label>
		</div>
	</div>
</fieldset>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
   @Html.AntiForgeryToken()
	<h4>Create a new account.</h4>
	<hr />
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<section class="secction-main">
		<div class="secction-content">
			<h3>Account Photo</h3>
			<div class="form-group">
				@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
				<div class="col-md-10">
					<div class="well" data-bind="fileDrag: fileData">
						<div class="form-group row">
							<div class="col-md-6">
								<img style="height: 125px;" class="img-rounded  thumb" data-bind="attr: { src: fileData().dataURL }, visible: fileData().dataURL">
								<div data-bind="ifnot: fileData().dataURL">
									<label class="drag-label">Drag file here</label>
								</div>
							</div>
							<div class="col-md-6">
								<input type="file" data-bind="fileInput: fileData, customFileInput: {
															  buttonClass: 'btn btn-success',
															  fileNameClass: 'disabled form-control',
															  onClear: onClear,
															}" accept="image/*">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
			<section class="secction-main">
				<div class="secction-content">
					<h3>Account Info</h3>
					<div class="form-group">
						@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.PasswordHash, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.PasswordHash, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							<div class="user-gender">
								Male @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "" })
								Female @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "" })
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="secction-main">
				<div class="secction-content">
					<h3>Contact Info</h3>
					<div class="form-group">
						@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
						</div>
					</div>
				</div>
			</section>
			<section class="secction-main">
				<div class="secction-content">
					<h3>Contact Address</h3>
					<div class="form-group">
						@Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.City, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.State, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Zip, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Zip, new { @class = "form-control" })
						</div>
					</div>
				</div>
			</section>
			<section class="secction-main">
				<div class="secction-content">
					<h3>Additional Info</h3>
					<div class="form-group">
						@Html.LabelFor(m => m.IsChurchMember, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.CheckBoxFor(m => m.IsChurchMember, new { @class = "checkbox", @data_bind = "checked:IsChurchMember" })
						</div>
					</div>
					<div class="form-group" data-bind="visible:!IsChurchMember()">
						@Html.LabelFor(m => m.ChurchName, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.ChurchName, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group" data-bind="visible:!IsChurchMember()">
						@Html.LabelFor(m => m.ChurchAddress, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.ChurchAddress, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group" data-bind="visible:!IsChurchMember()">
						@Html.LabelFor(m => m.ChurchPhone, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.ChurchPhone, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group" data-bind="visible:!IsChurchMember()">
						@Html.LabelFor(m => m.ChurchPastor, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.ChurchPastor, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.NeedToBeVisited, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.CheckBoxFor(m => m.NeedToBeVisited, new { @class = "checkbox" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Comments, new { @class = "col-md-2 control-label" })
						<div class="col-md-10">
							@Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
						</div>
					</div>
				</div>
			</section>

			<div class="form-group" style="padding-top: 29px;">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-default" value="Register" />
				</div>
			</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
               // $(this).parents("form").submit(); // post form
            });

        })(jQuery);
	</script>
}